name: tipitaka_pali
description: Tipitaka Pali Reader

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 2.7.2+95

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations: # Add this line
    sdk: flutter # Add this line
  intl: ^0.20.2
  sqflite: ^2.3.3
  path: ^1.8.2
  path_provider: ^2.1.5
  shared_preferences: ^2.5.3
  flutter_slidable: ^4.0.0
  provider: ^6.1.2
  substring_highlight: ^1.0.33
  toggle_switch: ^2.3.0
  collection: ^1.18.0
  logger: ^2.4.0
  cupertino_icons: ^1.0.8
# flex_color_scheme: ^7.1.0  // if using 3.10.6
  flex_color_scheme: ^8.2.0
  sqflite_common: ^2.5.4
  freezed_annotation: ^3.0.0
  sqflite_common_ffi: ^2.3.3
  wtf_sliding_sheet: ^1.1.3
  flutter_typeahead: ^5.2.0
  flutter_widget_from_html_core: ^0.16.0
  # fwfh_text_style: ^2.22.8+1
  styled_text: ^8.1.0
  from_css_color: ^2.0.0
  scrollable_positioned_list: ^0.3.8
  word_selectable_text: ^0.2.0
  multi_split_view: ^3.2.2
  tabbed_view:
    git:
      url: https://github.com/dhammacakka/tabbed_view.git
      ref: main
  slidable_bar:
    path: packages/slidable_bar
  huge_listview: ^2.0.2
  beautiful_soup_dart: ^0.3.0
  http: ^1.3.0
  internet_connection_checker: ^3.0.1
  archive: ^3.6.1
  url_launcher: ^6.3.0
  devicelocale: ^0.8.1
  dio: ^5.5.0
  share_plus: ^11.0.0
  streaming_shared_preferences: ^2.0.0
  ms_material_color: ^1.0.0
  uuid: ^4.4.2
  # vm_service: ^14.2.4
  el_tooltip: ^2.0.0
  package_info_plus: ^8.0.0
  in_app_review: ^2.0.9
  internet_connection_checker_plus: ^2.5.0
#  msix: ^3.16.7
  flash_card: ^0.1.0
  flashcardplus: ^0.0.2
  csv: ^6.0.0
  file_picker: ^10.2.0
  flutter_speed_dial: ^7.0.0
  scroll_to_index: ^3.0.1
  firedart: ^0.9.7
  flutter_dotenv: ^5.1.0
  im_stepper: ^1.0.1+1
  permission_handler: ^12.0.0+1
  encrypt: ^5.0.3
  pointycastle: ^3.9.1
  crypto: ^3.0.3
  email_validator: ^3.0.0
  epubx: ^4.0.0
  characters: ^1.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  freezed: ^3.0.6
  build_runner: ^2.1.2

msix_config:
  display_name: Tipitaka Pali Reader
  publisher_display_name: Bhikkhu Sangha
  identity_name: 26554BhikkhuSangha.TipitakaPaliReader 
  publisher: CN=76DA55C6-0663-4AE1-AE5E-609E9823DC18
  store: true
  logo_path: assets\icon\icon.png
  msix_version: 1.1.61.0
#######  for testing locally  ################
  #publisher:  CN=76DA55C6-0663-4AE1-AE5E-609E9823DC18, O=Msix Testing... # required
  #sign_msix: false


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  uses-material-design: true
  generate: true # Add this line
  # #enddocregion Generate

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/database/
    - assets/web/
    - assets/icon/icon.png
    - assets/icon/tpr_dictionary.png
    - assets/images/anki.png
    - assets/images/remnote.jpg
    - assets/images/vecteezy_md.jpg
    - assets/inflectionTemplates.json
    - .env


  fonts:
    - family: Pyidaungsu
      fonts:
        - asset: assets/fonts/Pyidaungsu-Regular.ttf
        - asset: assets/fonts/Pyidaungsu-Bold.ttf
    - family: NotoSansDevanagari
      fonts:
        - asset: assets/fonts/NotoSansDevanagari-Regular.ttf
        - asset: assets/fonts/NotoSansDevanagari-Bold.ttf
    - family: NotoSansSinhala
      fonts:
        - asset: assets/fonts/NotoSansSinhala-Regular.ttf
        - asset: assets/fonts/NotoSansSinhala-Bold.ttf
    - family: Lao Pali Regular
      fonts:
        - asset: assets\fonts\LaoPaliRegular.ttf
    - family: NotoSansTaiTham
      fonts:
        - asset: assets/fonts/NotoSansTaiTham-Medium.ttf
        - asset: assets/fonts/NotoSansTaiTham-Bold.ttf
    - family: DejaVu Sans
      fonts:
        - asset: assets/fonts/DejaVuSans.ttf
        - asset: assets/fonts/DejaVuSans-Bold.ttf
    - family: Noto Serif
      fonts:
        - asset: assets/fonts/NotoSerif-VariableFont_wdth,wght.ttf
    - family: Noto Sans Brahmi
      fonts:
        - asset: assets/fonts/NotoSansBrahmi-Regular.ttf
    - family: Open Sans
      fonts:
        - asset: assets/fonts/OpenSans-Bold.ttf
        - asset: assets/fonts/OpenSans-Regular.ttf
    - family: NotoSans Chakma
      fonts:
        - asset: assets/fonts/NotoSansChakma-Regular.ttf      


# fonts are licenced by bhikkhu Jayasaro.  He says it is okay to distribute and knows the copyrights.
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

dependency_overrides:
  flutter_lints: ^5.0.0
